<%= form_for(teacher) do |f| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

    <div class="field">
      <%= f.label :subject_ids %><br />
      <%= f.select :subject_ids, options_from_collection_for_select(Subject.all.sort_by(&:name), :id, :name, f.object.subject_ids), {} , include_blank: true, multiple: true %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
